<nav>
    <div class="site-titles">
        <a href="/">blog ninja</a>
        <p>heyyyyyyyyy</p>
    </div>
<ul>
<li><a href="/">HOME</a></li>
<li> <a href="/about">ABOUT</a></li>
<li> <a href="/blogs/create"> NEW BLOG</a></li>
</ul>
</nav>
