<!DOCTYPE html>
<html lang="en">
    <%- include('./prtials/head.ejs')%>

<body>
    <%- include('./prtials/nav.ejs')%>



<div class="not-found content">
   oops there is nothng 

</div>
</body>
</html>